<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3307/peliculas</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">daw2013</property>
    <mapping resource="net/ausiasmarch/pojo/Genero.hbm.xml"/>
    <mapping resource="net/ausiasmarch/pojo/Interpreta.hbm.xml"/>
    <mapping resource="net/ausiasmarch/pojo/Director.hbm.xml"/>
    <mapping resource="net/ausiasmarch/pojo/Pelicula.hbm.xml"/>
    <mapping resource="net/ausiasmarch/pojo/Usuario.hbm.xml"/>
    <mapping resource="net/ausiasmarch/pojo/Actor.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
